.header{
    padding-top: 40px;
    height: 608px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/bg.svg');
    background-position-x: right;
}
.header__logo{
    flex-shrink: 0;
}
.header__menu{
    display: none;
}
.header__container{
    justify-content: space-between;
    display: flex;
}
.header__block{
    display: flex;
    align-items: center;
}
.header__list{
    margin-left: 64px;
    column-gap: 40px;
    display: flex;

}
.header__link{
    color: #36536B;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.7;
}
.header__btn{
    @include btn ;
    transition: all 0.5s;
    &:hover{
        background: #DA6D97;
    }
}
@media screen and (max-width:842px){
    .header{
        padding-top: 40px;
        height: 608px;
        max-width: 100%;
        background-repeat: no-repeat;
        background-image: url('../img/hero-bg.svg');
        background-position-x: center;


    }
}
@media screen and (max-width:700px) {
    .header__btn{
        display: none;
    }
    .header__menu{
        display: block;
        background: transparent;
    }
}
@media screen and (max-width:571px) {
    .header__nav{
        display: none;
    }
    
}